<div class="filter-group <%= filter_type %>" data-type="<%= filter_type %>">
  <div class="filter-heading-wrapper">
    <span class="filter-group-icon <%= icon_class %>" aria-hidden="true"></span>
    <span class="filter-group-heading"><%= filter_name %></span>
    <span class="filter-group-arrow glyphicon glyphicon-play"></span>
  </div>
  <div class="filter-group-contents">
    <%= yield %>
  </div>
  <div class="showmore-link-wrapper">
    <span class="invisible-span"></span>
    <span class="more-link">More...</span>
    <span class="invisible-span"></span>
  </div>
</div>
