<header>
    <div class="flex black-header-stripe">
        <%= yield(:mobile_icons) %>
        <div class="red-man-logo">
            <%= link_to image_tag("white_logo.png", alt: "main-background"), root_path %>
        </div>
        
        <div class="flex header-center">
            <div class="compare-button-wrapper">
                <button id="compare-button" type="button" class="btn btn-default"><%= defined?(@category) ? @category.name : "Compare Products" %></button>
            </div>
            <%= form_tag search_index_path, method: :get do %>
              <div class="search-field-wrapper">
                <%= text_field_tag :search, params[:search], class: 'search-field form-control', placeholder: 'Search...' %>
                <%= button_tag class: "submit-icon" do %>
                  <i class="glyphicon glyphicon-search"></i>
                <% end %>
              </div>
            <% end %>
            <div class="bying-guides-btn-wrapper">
                <button id="buying-guides" type="button" class="btn btn-default">Buying Guides</button>
            </div>
        </div>
        
        <div class="flex header-right">
            <% if user_signed_in? %>
                <div class="upload-btn-wrapper">
                    <%= render 'layouts/upload_button' %>
                </div>
            <% end %>
            <%= render 'layouts/nav_links_for_auth' %>
        </div>
    </div>
    <div class="buying-guides-block-wrapper">
      <%= render 'layouts/buying_guides' %>
    </div>
    <div class="compare-block-wrapper">
      <%= render 'layouts/buying_guides' %>
    </div>
</header>
